@import url('bootstrap/dist/css/bootstrap.css');
@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #436ab1;
  text-decoration: none;
}

nav a,
nav a:hover {
  color: white;
  cursor: pointer;
}

body {
  background-color: #436ab1;
  font-family: 'Lato', sans-serif;
  padding: 0 24px;
}

img {
  margin-bottom: 24px;
  width: 75%;
}

input {
  border: none;
  border-radius: 16px;
  font-size: 25px;
  padding: 8px 16px;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 16px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-width: 100px;
  padding: 24px;
  text-align: end;
}

.country-name {
  align-items: flex-end;
  max-width: 600px;
  width: 75%;
}

.half {
  padding: 24px;
}

.filter {
  padding: 16px 0;
}

.flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  max-width: 600px;
  padding: 24px;
}

.heading {
  font-weight: bold;
}

.icon {
  height: 36px;
  width: 36px;
}

.population {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 12px 0;
  padding: 8px;
  width: 100%;
}

.population-list {
  max-width: 600px;
  width: 100%;
}

.row-wrap {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
}

.year {
  font-size: 25px;
}
